@import 'variables';

:host {
  overflow: hidden;
  max-width: 100vw;
  padding: 0 20px;

  ul {
    overflow-x: scroll;
    padding: 10px 0;
  }

  mat-card {
    cursor: pointer;

    &.active {
      border: 1px solid $dark-gray;
    }
  }

  mat-card-title {
    text-align: center;
  }
}
