*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
ol,
ul,
li,
button,
input,
form {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}
