// Flex
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

// Gap
.x-gap-8 {
  column-gap: 8px;
}

// Width
.w-full {
  width: 100%;
}

// Height
.h-24 {
  height: 24px;
}
