@import 'variables';

// Flex
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

// Gap
.x-gap-8 {
  column-gap: 8px;
}

.gap-20 {
  gap: 20px;
}

// Width
.w-full {
  width: 100%;
}

.w-150 {
  width: 150px;
}

// Height
.h-24 {
  height: 24px;
}

// Font
.text-dark-gray {
  color: $dark-gray;
}

// Margin
.mb-16 {
  margin-bottom: 16px;
}
